<body>
  <table class="example-full-width" *ngFor="let article of thisUsersArticles">
    <tr id="card" class="card mb-3">
      <td id="cardContent" class="row g-0">
        <div id="article-img" class="col-md-4">
          <img
            src="{{ article.pic }}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>
            <p class="card-text">{{ article.content }}</p>
            <p class="card-text">
              <small class="text-muted"
                >Author : {{ article.owner.firstName }}
                {{ article.owner.lastName }}</small
              >
            </p>
          </div>
        </div>
      </td>
      <td id="btnGroup">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteArticle(article.id)"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-warning"
          (click)="updateArticle(article.id)"
        >
          Update
        </button>
      </td>
    </tr>
  </table>
</body>
