.navbar-light {
  background-color: #00a8ff;
}

.menu-items {
  flex-grow: 0;
}
.menu-items li a {
  color: white;
}
.nav-container {
  display: flex;
}
#logo {
  width: 10%;
}
#brand {
  color: white;
  font-weight: bold;
}
.active {
  font-weight: bold;
}
